.root {
    -fx-background-image: url("/images/mainMenu_Background.jpg");
    -fx-background-size: 100% 100%;
    -fx-focus-color: #FF0000;
}

.title {
    -fx-font-family: Arial;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-fill: yellow;
}

.startGame {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 250, 255, 1), 12, 0.5, 0, 0);
}

.buttonShape {
    -fx-background-color: #AAAAAA;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.backButtonShape {
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.selected {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}