.root {
    -fx-background-image: url("scoreBoardBackground.jpg");
    -fx-background-size: 100% 100%;
    -fx-focus-color: #FF0000;
}

.scoreboard-entry {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 28px;
    -fx-text-fill: #FF6C0C;
}

.scoreboard-header {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #90EE90;
    -fx-padding: 0 0 5px 0; /* Padding below header */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1.0), 3, 0.5, 1, 1);
}

.title {
    -fx-font-family: Arial;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-fill: yellow;
}

.buttonShape {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.scoreboard-separator-region {
    -fx-background-color: #32CD32;
    -fx-min-height: 2.0;
    -fx-max-height: 2.0;
}